#############################################
########## Introduction To Config ###########
#############################################

# Config Version
ConfigVersion

# Use 1 to Install
# Use 0 to Skip

## Examples
# Allow=1
# Gives Joker Permission to Do Modification

# AmoledColors=0
# Skip Amoled Colors While Installing

############################################
########## JOKER 🃏 Config Begins ##########
############################################

# This is Important Permission Without these Joker Will Not Work, Set to 1
Allow=0

# Default Optimization ( Will Take 5 Mins )
Optimization=1

# Amoled Like Colors ( Changes to More Eye Catching Colors )
AmoledColors=0

# Network Enhancement ( Recommended For JIO Unlimited )
# !! May Face Issues in Games like PUBG
Network=0

# Smoothness Enhancement ( Recommended for A12 - A13 ROMs specially )
Smoothness=0

# Latest Security Patch ( May Break Safety Net )
# Flash Safety By Kdragon If It happens
SecurityPatch=0

# RAM Enhancement ( Recommended if using with Smoothness Enhancement )
Ram=0

#################################################
### After Editing This Reinstall Joker Module ###
#################################################
